# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/

# IDE
.idea/
.vscode/

# Firebase secrets
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# OS
.DS_Store
Thumbs.db
