<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDisplayName</key>
		<string>Event Counter</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleName</key>
		<string>Event Counter</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSUserNotificationUsageDescription</key>
		<string>Event Counter uses notifications for event and habit reminders.</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.194429762916-jdbmecg8oge2mumvpqsd27ks918gu3oo</string>
				</array>
			</dict>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
